:root {
  --main-color: #00ff00;
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: var(--main-color);
  overflow: hidden;
}

header {
  background-color: #333333;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ffffff;
}

.hero {
  display: flex;
  align-items: center;
  margin-right: auto;
}

#avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin: 3px;
}

#title {
  font-family: sans-serif;
  margin-left: 5px;
}

.theme {
  display: flex;
  margin-right: auto;
}

.theme li {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  margin-right: 5px;
  list-style: none;
}

.green-dot {
  background-color: #00ff00;
}

.red-dot {
  background-color: #ff0000;
}

.blue-dot {
  background-color: #0000ff;
}

.purple-dot {
  background-color: #9a00ff;
}

.yellow-dot {
  background-color: #ffff55;
}

.orange-dot {
  background-color: #ffa500;
}

.active-theme {
  border: 2px solid #ffffff;
}

.terminal {
  height: 100vh;
  flex-direction: column;
  overflow-y: scroll;
}

.info {
  padding-left: 3px;
}

.output {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.input-line {
  display: flex;
  align-items: center;
  padding-left: 5px;
  margin-bottom: 30vh;
}

.prompt {
  margin-right: 5px;
}

#input {
  background-color: #000000;
  color: var(--main-color);
  border: none;
  outline: none;
}